.Gallery {
    display: flex;
    height: 69vh;
    padding: 25px;
}

@media (max-width: 768px) {
    .Gallery {
        display: flex;
        height: auto;
        padding: 0;
        flex-direction: column-reverse;
    }
}

.Gallery-content {
    align-content: center;
    width: 50%;
    padding: 25px;

}

@media (max-width: 768px) {
    .Gallery-content {
        align-content: center;
        width: auto;
        padding: 25px;

    }
}

.Gallery-text {
    color: #ffff;

    padding: 25px;

    h1 {
        font-size: 55px;
    }

    p {
        font-size: 30px;
    }
}