.theme-toggle-button {
  padding: 12px 24px;
  border-radius: 12px;
  background: linear-gradient(to right, #696b6d, #6e6d6d); /* Degradado de azul a morado */
  color: white;
  font-weight: 600;
  font-size: 1.125rem; /* Tamaño de fuente grande */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  margin-right: 15%;
}

.theme-toggle-button:hover {
  background: linear-gradient(135deg, #0d0d0d, #8b0000  ); /* Colores más oscuros en el hover */
}

.theme-toggle-button:focus {
  outline: none;
}

.theme-toggle-button:active {
  transform: scale(0.98); /* Efecto de pulsación */
}
